.board {
  background-color: #ff0d00;
  height: 350px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.board td {
  background-color: #fac9c6;
}

#cell00 {
  background-color: #98F992;
  background-size: 100px 100px;
  background-image: url("../jotaro.png");
} 
